<div class="col c3">
    <h2><span>Contact</span></h2>
    <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui. Nulla pharetra, mauris vitae interdum dignissim, justo nunc suscipit ipsum. <a href="#">mail@example.com</a><br />
      <a href="#">+1 (123) 444-5677</a></p>
</div>
<div class="clr"></div>
<div class="footer">
    <p class="lf">Copyright &copy; <a href="#">Domain Name</a>. All Rights Reserved</p>
    <p class="rf">Design by <a target="_blank" href="http://www.rocketwebsitetemplates.com/">RocketWebsiteTemplates</a></p>
    <div class="clr"></div>
</div>